{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% for experience in experiences.info %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h4 class="company">{{ experience.company }}</h4>
      </div><!--//upper-row-->
      <div class="company-duration">{{ experience.location }}</div>
      <div class="company-duration">{{ experience.time }}</div>
      {% for role in experience.roles %}
      <div class="second-upper-row">
        <div class="job-title">{{role.name}}</div>
        <div class="time">{{role.time}}</div>
      </div>
      {% if role.details %}
      <div class="details">
        {{ role.details | markdownify }}
      </div><!--//details-->
      {% endif %}

      {% if role.technologies %}
      <div class="technologies">
        <span class="technologies-title">Technologies Used: </span>
        <span class="">
          {{ role.technologies }}
        </span>
      </div>
      {% endif %}
      <hr>
      {%endfor %}
    </div><!--//meta-->

    

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

